<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>project.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/S</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailsServlet</display-name>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <servlet-class>com.CustomerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <url-pattern>/C</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailsServlet1</display-name>
    <servlet-name>CustomerDetailsServlet1</servlet-name>
    <servlet-class>com.CustomerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsServlet1</servlet-name>
    <url-pattern>/C1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidServlet</display-name>
    <servlet-name>ValidServlet</servlet-name>
    <servlet-class>com.ValidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidServlet</servlet-name>
    <url-pattern>/ValidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidServlet</display-name>
    <servlet-name>InvalidServlet</servlet-name>
    <servlet-class>com.InvalidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidServlet</servlet-name>
    <url-pattern>/InvalidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Thanks</display-name>
    <servlet-name>Thanks</servlet-name>
    <servlet-class>com.Thanks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thanks</servlet-name>
    <url-pattern>/Thanks</url-pattern>
  </servlet-mapping>
</web-app>